* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}


/*navegador de página*/
#inicio {
    background: linear-gradient(#f87c7ccc, rgba(30, 15, 15, 17));
    font-size: 20px;
    height: 60px;
}



/*fin de navegador de página*/

/*logo de la empresa*/
.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.logo1 img {
    align-items: center;
}

.logo h1 {
    font-size: 50px;
    text-align: center;
}

.logo h2 {
    text-align: center;
    margin-top: -100px;
}

#umaShop {
    display: flex;
    justify-content: center;
}

.umaH img {
    margin: 100px 100px;
    width: 500px;
    height: auto;
}


/*fin logo de la empresa*/


/*inicio página de productos*/


.titulo {
    display: flex;
    justify-content: center;
}

.titulo img {
    background-image: url(../img/tarjeta.png);
    width: 500px;
    height: auto;
    margin: 70px 70px;
}

.recom iframe {
    margin: 20px 20px;
}

.recom {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;

}

.recom p {
    width: 50%;
}

.prod {
    background: linear-gradient(#fc9393cc, rgba(33, 16, 16, 18));
    color: white;
    padding: 5px 15px;
}

/*fin página de productos*/


/* inicio página index*/

.contenedor .contenedor__container {
    border: 1px solid rgb(60, 136, 60);
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    height: 300px;
}

.contenedor .contenedor__item .contenedor__container img {
    width: 300px;
    height: auto;
}

.container h3 {
    padding: 10px;
    font-size: 25px;
}

.contenedor .contenedor__item .contenedor__container button {
    width: 100px;
    height: 30px;
    margin-top: 15px;

}

.emojis {
    display: flex;
    margin-left: 35%;
    width: 30%;
    justify-content: space-around;
}

.emojis .emojis__tam img {
    width: 50px;
    height: auto;
    padding: 10px;

}

/* grid*/
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 100px;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding-top: 200px;
    padding-bottom: 300px;
    gap: 20px;

}

.contenedor .contenedor__item {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive index*/
@media (max-width:576px) {
    .navbar {
        width: 100%;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 300px;
        margin-bottom: 300px;
        width: 100%;
    }

    .btn {
        margin-right: 40px;
    }
}

@media(min-width: 992px) {
    .navbar {
        width: 100%;
    }

    .contenedor {
        align-content: stretch;
        width: 100%;
        gap: 0;

    }

    .contenedor .contenedor__item {
        padding: 0;

    }
}


/*fin página index*/


/*página de contacto*/
.form-cont {
    display: flex;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.form-cont__contacto {
    width: 100%;
    height: auto;
    border: 1px solid rgb(254, 150, 38);
    border-radius: 3px;
    letter-spacing: 2px;
    text-align: justify;
    overflow: hidden;
    padding: 20px;
    font-size: 20px;
    background: hsla(312, 77%, 86%, 1);
    background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1);
}

.form-cont h3 {
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.form-cont .form-cont__contacto button {
    display: block;
    padding: 6px;
    margin-top: 10px;

}



/*fin página de contacto*/
footer {
    background-color: rgb(136, 117, 154);
    font-size: 20px;
    padding: 20px;
    height: auto;
    margin: 10px;
    text-align: center;
}

/*accesorios.html*/

@media (max-width:576px) {
    .jugueteria {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .jugueteria {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
    }
}

.juguetria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.jugueteria .chiches img {
    background: rgb(129, 216, 126);
    width: 150px;
    height: auto;
    padding: 5px;
}

.jugueteria .chiches img:hover {
    border: 1px solid #777;
}

.jugue h2 {
    margin: 100px;
    text-align: center;
    padding: 5px;
    background-color: rgb(172, 94, 172);
    color: white;
}

.perroUma {
    display: flex;
    justify-content: center;
}

.perroUma img {
    width: 400px;
    height: auto;
    margin-top: 150px;
    border-radius: 2px;
}

/*servicios*/
@media (max-width: 576px) {
    h1.servi-lava {
        margin-top: 100px;
        text-align: center;
    }

    .row {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #inicio {
        width: 100%
    }
}

.sectionCan {
    background-color: rgb(143, 143, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sectionCan .sectionCan__img {

    width: 200px;
    height: auto;
}

.sectionCan .sectionCan__text {
    display: inline-block;
    width: 300px;
    height: auto;
    text-align: justify;
}

.servi-lava {
    margin-top: 10%;
    margin-bottom: 8%;

}