/*responsive index*/
@media screen and (max-width: $mobile) {
    .navbar {
        width: 100%;
    }

    .contenedor {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        width: 100%;
    }


    .btn {
        margin-right: 40px;
    }
}

@media screen and (min-width: $desktop) {
    .navbar {
        width: 100%;
    }

    .contenedor {
        align-content: stretch;
        width: 100%;
        gap: 0;
    }

    .contenedor .contenedor__item {
        padding: 0;
    }
}

/*responsive accesorios*/
@media (max-width: $mobile) {
    .jugueteria {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 20px;
    }

    .perroUma {
        margin-top: 65px;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
    }

    #umaShop {
        width: 300px;
        margin: 0px 120px;

        .umaH {
            margin-top: 40px;
            width: 200px;
            height: auto;
            margin-right: 270px;
        }
    }
}

.chiches {
    h4 {
        font-size: 20px;
    }
}

@media (min-width: $desktop) {
    .jugueteria {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
    }

    @keyframes tituloJuguetes {
        0% {
            background: rgb(247, 176, 247);
            width: 1000px;
            height: 20px;
        }

        50% {
            background: rgb(118, 35, 118);
            width: 1100px;
            height: 30px;
        }

        100% {
            background: rgb(37, 5, 37);
            width: 1200px;
            height: 40px;
        }

    }

    .jugue {
        border: 1px solid black;
        animation: tituloJuguetes;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 4s;
        animation-delay: 0s;
    }
}

/*responsive servicios*/
@media (max-width: $mobile) {
    .servi-lava {
        font-size: 27px;
    }

    .logo {
        height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;

        .logo1 {
            width: 50%;

            h1 {
                font-size: 40px;
                text-align: center;
            }

            img {
                width: 100%;
                margin-bottom: 4px;
            }

            h2 {
                text-align: center;
                margin-top: -60px;
                font-size: 20px;
            }
        }
    }

    .row {
        width: 100%;
        justify-content: center;
    }

    #inicio {
        width: 100%
    }

    .card {
        width: 400px;

        .row {
            .col-md-6 {
                width: 400px;

                .img-fluid {
                    background-image: url(../img/baño.jpg);
                    width: 400px;
                    height: 200px;
                }
            }

            .col-md-6 {

                .card-body {
                    .card-text {
                        color: black;
                    }
                }
            }
        }
    }

}

/*responsive productos*/
@media screen and (max-width: $mobile) {
    .recom {
        width: 370px;

        iframe {
            width: 43%;
        }

        p {
            font-size: 15px;
        }
    }

    .prod {
        font-size: 18px;
    }

    .titulo {
        width: 170%;
        margin-left: -142px;
    }
}